<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; application/json" />

    <title>My Page</title>
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="mypage.css" />
  </head>
  <body>
    <div class="login_wrapper">
      <h2>My Info</h2>
      <ul>
        <li>아이디 : {{id}}</li>
        <li>이름 : {{name}}</li>
        <li>생년월일 : {{birthday}}</li>
        <li>성별 : {{gender}}</li>
      </ul>
      <a href="/logout">로그아웃</a>
    </div>
  </body>
</html>
